__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.DS_Store
venv/
.env
*.sqlite3
logs/
data/
artifacts/
mlruns/
minio-data/
grafana-data/
prometheus-data/
airflow-logs/
dist/
build/
