POSTGRES_DB=mlflow
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_HOST=mlflow-postgres
POSTGRES_PORT=5432
BACKEND_STORE_URI=postgresql+psycopg2://mlflow:mlflow@mlflow-postgres:5432/mlflow
ARTIFACT_ROOT=/mlartifacts
MLFLOW_PORT=5001
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_DB_RESET_ON_INCONSISTENT_STATE=false
